body {
    margin: 0;
    height: 100%;
    color: #384452;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: #f7f7f7
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.jumbotron {
    background: transparent;
}

th.person {
    width: 200px;
    min-width: 200px;
}

div.employeeHeader {
    margin-bottom: 12px;
}

div.employeeHeader button:first-child {
    min-width: 120px;
    text-align: left;
}

div.employeeHeader ul.pager {
    margin: 0;
}

th.person .media {
    margin-left: 15px;
}

th.person .media h4 {
    font-size: 15px;
}

th.person .media .badge {
    position: absolute;
    margin-left: -15px;
}

table.employees table.table {
    margin: 0;
    background: none;
}

table.employees table td {
    width: 30px !important;
    min-width:  30px !important;
    max-width: 30px !important;
    font-size: 12px;
    text-align: center;
    border: 0;
    position: relative;
}

table.employees table td:after {
    content: '';
    display: block;
    margin-top: 100%;
}

table.employees table td.wd {
    background-color: #E6E6E6;
}

table.employees tr td.today {
    background-color: #E6E6E6;
    border-radius: 50%;
}

table.employees table td div.content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 6px;
    z-index: 99;
}

table.employees table td div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    user-select: none;
}


table.employees table td div.first.time-off {
    background: rgba(51, 204, 51, 0.5);
}

table.employees table td div.second.time-off {
    background: rgba(51, 204, 51, 0.5);
}

table.employees table td div.first {
    width: 50%;
}

table.employees table td div.second {
    width: 50%;
    left: 50%;
}

.badge small {
    font-weight: normal;
    font-size: 100%;
}

@media (min-width: 568px) {
    div.requestTimeOffModal > div.modal-dialog {
        width: 660px;
    }
}

div.toast {
    width: 200px;
    position: absolute;
    margin: 0;
    right: 10px;
    top: 75px;
    z-index: 99;
}
