body {
    margin: 0;
    height: 100%;
    color: #384452;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: #f7f7f7
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.jumbotron {
    background: transparent;
}
