body {
    margin: 0;
    height: 100%;
    color: #384452;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: #f7f7f7
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.jumbotron {
    background: transparent;
}

th.person {
    width: 200px;
    min-width: 200px;
}

div.employeeHeader {
    margin-bottom: 12px;
}

div.employeeHeader button:first-child {
    min-width: 120px;
    text-align: left;
}

div.employeeHeader ul.pager {
    margin: 0;
}

th.person .media {
    margin-left: 15px;
}

th.person .media h4 {
    font-size: 15px;
}

th.person .media .badge {
    position: absolute;
    margin-left: -15px;
}

table.employees > * > tr > td.day {
    padding: 6px;
    width: 29px !important;
    min-width:  29px !important;
    max-width: 29px !important;
    height: 29px;
    font-size: 13px;
    text-align: center;
}

table.employees > thead > tr > td.day {
    vertical-align: bottom;
}

table.employees > tbody > tr > td.wd {
    background-color: #E6E6E6;
}

table.employees > tbody > tr > td.nwd {
}

table.employees > thead > tr > td.day div.today {
    border-color: #ddd;
}

table.employees > thead > tr > td.day > div {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    border: 1px solid transparent;
}

table.employees > tbody > tr > td,
table.employees > tbody > tr > th,
table.employees > tfoot > tr > td,
table.employees > tfoot > tr > th,
table.employees > thead > tr > td,
table.employees > thead > tr > th {
    padding: 8px 0;
}

.badge small {
    font-weight: normal;
    font-size: 100%;
}
